{% extends 'base.html' %}
{% block tittle %}Borrar mi historia {% endblock %}
{% block content %}

{% if user.is_authenticated %}
	{% if user.id == publicacion.autor.id %}
		<h1>Editar o actualizar publicacion...</h1>
		<br/><br/>
		<h4> Borrar: {{ publicacion.titulo }}</h4>
		<br/>
		<div class="form-group" style="margin-left: 30px;">
			<form method="POST">{% csrf_token %}
			<p>Estas seguro?!</p>

			<button class="btn btn-danger">Borrar</button>
			</form>
		</div>
		{% else %}
	{% endif %}
{% else %}

No deberias estar aqui.

{% endif %}

{% endblock %}