{% extends 'base.html' %}
{% block title %} Crea una nueva historia {% endblock %}

{% block content %}

{% if user.is_authenticated %}
	<h1 style="margin-left: 30px; margin-top: 120px;">Agregar publicación...</h1>
	<br/><br/>

	<div class="form-group" style="margin-left: 30px;">
		<form method="POST" enctype="multipart/form-data">{% csrf_token %}
		{{ form.media }}
		{{ form.as_p }}

			<button class="btn btn-success">Publicar</button>
		</form>
	</div>
{% else %}

No tienes permitido estar aqui...(y lo sabes)

{% endif %}

{% endblock %}